.pagination li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    list-style-type: none;
    padding: 5px 10px;
    background-color: lightgrey;
    border-radius: 10%;
}
.pagination li a {
    text-decoration: none;
}
button {
    border-radius: 50%;
}
.active, .pagination li.active{
    background-color: lightblue;
}